.repos_search{
    margin-top: 20px;
    display: flex;
    gap: 5px ;
    border-bottom: 0.1px solid #8b949e28;

}
.reposInput{
    background-color: #2a2b2c00;
    width: 605px;
    height: 34px;
    border: 1px solid #8b949e7b;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 13px;
}
.btnType{
    margin-left: 10px;
    width: 80px;
    height: 31.6px;
    color:aliceblue;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b949e2c;
    border-radius:5px;
    border: 0.1px solid #8b949e7b;
    margin-bottom: 20px;
}
.repos_btnIco{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px;
}
.btnLang{
    width: 115px;
    height: 31.6px;
    color:aliceblue;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b949e2c;
    border-radius:5px;
    border: 0.1px solid #8b949e7b;
    margin-bottom: 20px;
}
.btnSort{
    width: 76px;
    height: 31.6px;
    color:aliceblue;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b949e2c;
    border-radius:5px;
    border: 0.1px solid #8b949e7b;
    margin-bottom: 20px;
}
.mainBottom{
    position: absolute;
    left: 30.5%;
    color: #a0a3a7;
margin-left: 20px;
}

.mainBottom_header{
    margin-top: 30px;
}


.box_wrapper{
    width: 920px;
    height: 160px;
    gap: 10px;
       display: grid;
    grid-template-columns: 440px  ;
    grid-template-rows: 120px ;
   
}
.Main_box{

    width: 900px;
    height: 114px;
    border-bottom: 0.1px solid #2a2b2c ;
    

}
.main_box_header{
    display: flex;

}
.main_box_bottom{
    display: flex;
    margin-top: 20px;
    align-items: center;
    height: 10px;
    display: flex;
}
.NavLink_repostorys{
    text-decoration: none;
    color: #58A6FF;
    font-size: 20px;
}
.repostory_bottom{
    background-color: #2a2b2c00;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    margin-left: 10px;
    color: #8b949e;
    border:0.1px solid #30363d ;
}
.repostory_language{
    align-items: center;
    display: flex;
    font-size: 13px;
}
.repostory_star{
    border:0.1px solid #30363d ;
    margin-left: 650px;
    width: 90px;
    height: 30px;
border-radius: 5px;
color: #d3d9e0;
    display: flex;
    background-color: #8b949e2c;

    align-items: center;
    font-size: 15px;
}
.repostory_update{ margin-left: 10px;
    font-size: 12px;}
.repostory_forked{
    font-size: 15px;
}
.araund{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: yellow;
    color: #2a2b2c00;
    margin-right: 2px;
}



